@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

}
<!DOCTYPE html>

<html>
<head>
    <!-- title -->
    <title>Register</title>

    <!-- meta -->
    <meta charset="utf-8" />
</head>
<body>

    <!--Title-->
    <h2>Register</h2>
    <hr />

    <!--Message-->
    <h3 style="color:red">@ViewBag.Message</h3>

    <!--RegisterMember-->
    <form asp-controller="Account" asp-action="RegisterMember" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
        Name:<input type="text" name="name" value="@ViewBag.Name" /><br />
        Mail:<input type="text" name="mail" value="@ViewBag.Mail" /><br />
        Nickname:<input type="text" name="nickname" value="@ViewBag.Nickname" /><br />
        Password:<input type="text" name="password" value="" /><br />
        <input type="submit" value="RegisterMember" /><br />
        <br />
    </form>
    <hr />

</body>
</html>